<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu">

    <hr>

    <h2>メニュー</h2>

    <ul>
        <li>
            <a th:href="@{/}">
                Home
            </a>
        </li>

        <li>
            <a th:href="@{/guitars/view}">
                ギター管理
            </a>
        </li>

        <li>
            <a th:href="@{/necks/view}">
                ネック管理
            </a>
        </li>

        <li>
            <a th:href="@{/bodies/view}">
                ボディ管理
            </a>
        </li>
		<li>
		    <a th:href="@{/process-analysis/view}">
		        工程時間分析
		    </a>
		</li>
		<li>
		    <a th:href="@{/products/view}">
		        製品管理
		    </a>
		</li>
		<li>
		    <a th:href="@{/body-masters/view}">
		        ボディマスタ管理
		    </a>
		</li>
		

        <li>
            <a th:href="@{/assemblies/view}">
                組立実績
            </a>
        </li>
		<li>

		    <a th:href=
		       "@{/production-orders/view}">
		        生産計画
		    </a>

		</li>
    </ul>

</th:block>

</html>