<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ボディ登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1>ボディ登録</h1>
	
	<form th:action="@{/bodies/create}" method="post">
		<div>
			<label>シリアル番号</label>
			<input type="text" name="serialNo">			
		</div>
		<div>
			<label>モデル名</label>
			<input type="text" name="modelName">			
		</div>
		<div>
			<label>カラー</label>
			<input type="text" name="color">			
		</div>
		<button type="submit">
			登録
		</button>
	</form>
	<br>
	
	<a th:href="@{/bodies/view}">
		一覧へ戻る
	</a>
</body>
</html>