<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ボディマスタ一覧</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>
<body>

<div th:replace=
     "~{fragments/header :: header('ボディマスタ一覧')}">
</div>

<p>
    <a th:href="@{/body-masters/new}">
        ボディマスタ登録
    </a>
</p>

<table border="1">
    <tr>
        <th>ID</th>
        <th>モデルコード</th>
        <th>モデル名</th>
        <th>ボディタイプ</th>
        <th>材質</th>
        <th>カラー</th>
    </tr>

    <tr th:each="bodyMaster : ${bodyMasters}">
		<td>
		    <a th:href="@{/body-masters/{id}/view(id=${bodyMaster.id})}"
		       th:text="${bodyMaster.id}">
		    </a>
		</td>
        <td th:text="${bodyMaster.modelCode}"></td>
        <td th:text="${bodyMaster.modelName}"></td>
        <td th:text="${bodyMaster.bodyType}"></td>
        <td th:text="${bodyMaster.material}"></td>
        <td th:text="${bodyMaster.color}"></td>
    </tr>
</table>

<div th:replace=
     "~{fragments/menu :: menu}">
</div>

</body>
</html>