<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ギター登録</title>
</head>
<body>
	<h1>ギター登録</h1>
	
	<form th:action="@{/guitars/create}" method="post">
		<div>
			<label>シリアル番号</label>
			<input type="text" name="serialNo">			
		</div>
		<div>
			<label>モデル名</label>
			<input type="text" name="modelName">			
		</div>
		<div>
			<label>現在工程</label>
			<input type="text" name="currentProcess" value="未着手">			
		</div>
		<button type="submit">
			登録
		</button>
	</form>
	<br>
	
	<a th:href="@{/guitars/view}">
		一覧へ戻る
	</a>
</body>
</html>