<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ギター登録</title>
</head>
<body>
	<h1>ギター登録</h1>
	<form th:action="@{/guitars/create}"
	      method="post">

	    <label>製品選択</label>

	    <select name="productId">

	        <option
	            th:each="product : ${products}"
	            th:value="${product.id}"
	            th:text="${product.productName
	                     + ' [' +
	                     product.color +
	                     ']'}">
	        </option>

	    </select>

	    <button type="submit">
	        登録
	    </button>

	</form>
	<br>
	
	<a th:href="@{/guitars/view}">
		一覧へ戻る
	</a>
</body>
</html>