<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>工程履歴</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace=
 "~{fragments/header :: header('工程履歴')}">
</div>
<table border="1">
	<tr>
		<th>工程</th>
		<th>作業者</th>
		<th>開始時間</th>
		<th>終了時間</th>
		<th>作業時間(分)</th>
	</tr>
	
	<tr th:each="history : ${histories}">
		<td th:text="${history.processName}"></td>
		<td th:text="${history.workerName}"></td>
		<td th:text="${history.startTimeText}"></td>
		<td th:text="${history.endTimeText}"></td>
		<td th:text="${history.workMinutesText}"></td>
	</tr>
</table>

<div th:replace="~{fragments/menu :: menu}">
</div>
</body>
</html>