<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ネック一覧</title>
</head>
<body>
<h1>ネック一覧</h1>
<p>
	<a th:href="@{/necks/new}">
		新規ネック登録
	</a>
</p>
<table border="1">
	<tr>
		<th>ID</th>
		<th>シリアル番号</th>
		<th>モデル</th>
		<th>現在工程</th>
		<th>ステータス</th>
	</tr>
	
	<tr th:each="neck : ${necks}">
		<td th:text="${neck.id}"></td>
		<td th:text="${neck.serialNo}"></td>
		<td th:text="${neck.modelName}"></td>
		<td th:text="${neck.currentProcess}"></td>
		<td th:text="${neck.status}"></td>
	</tr>
</table>

<br>

<a th:href="@{/guitars/view}">
	ギター一覧へ
</a>
<br>
<a th:href="@{/assemblies/view}">
	Assembly一覧へ
</a>
<br>
<a th:href="@{/}">
	Home
</a>
</body>
</html>