<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ネック一覧</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace=
 "~{fragments/header :: header('ネック一覧')}">
</div>
<p>
	<a th:href="@{/necks/new}">
		新規ネック登録
	</a>
</p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>シリアル番号</th>
        <th>モデル名</th>
        <th>ネックタイプ</th>
        <th>ネック材</th>
        <th>指板材</th>
        <th>フレット数</th>
        <th>スケール</th>
        <th>現在工程</th>
        <th>ステータス</th>
		<th>工程操作</th>
		<th>履歴</th>
    </tr>

    <tr th:each="neck : ${necks}">
        <td th:text="${neck.id}"></td>
        <td th:text="${neck.serialNo}"></td>

        <td th:text="${neck.neckMaster != null ?
                      neck.neckMaster.modelName :
                      neck.modelName}">
        </td>

        <td th:text="${neck.neckMaster?.neckType}"></td>
        <td th:text="${neck.neckMaster?.neckMaterial}"></td>
        <td th:text="${neck.neckMaster?.fingerboardMaterial}"></td>
        <td th:text="${neck.neckMaster?.fretCount}"></td>
        <td th:text="${neck.neckMaster?.scale}"></td>

        <td th:text="${neck.currentProcess}"></td>
		<td>
		    <span class="status-badge"
		          th:classappend="${@statusDisplay.getCssClass(neck.status)}"
		          th:text="${@statusDisplay.getLabel(neck.status)}">
		    </span>
		</td>
		<td>

		    <!-- 作業中 -->
		    <form th:if="${neck.status == 'WORKING'}"
		          th:action="@{/neck-processes/end/view}"
		          method="get">

		        <input type="hidden"
		               name="neckId"
		               th:value="${neck.id}">

		        <button type="submit"
		                class="process-button process-end-button">
		            工程終了
		        </button>

		    </form>

		    <!-- 工程待ち -->
		    <form th:if="${neck.status == 'WAITING'}"
		          th:action="@{/neck-processes/start/view}"
		          method="get">

		        <input type="hidden"
		               name="neckId"
		               th:value="${neck.id}">

		        <button type="submit"
		                class="process-button process-start-button">
		            工程開始
		        </button>

		    </form>

		    <!-- 操作不可 -->
		    <span th:if="${neck.status == 'AVAILABLE'
		                  or neck.status == 'RETURNED'
		                  or neck.status == 'ASSEMBLED'
		                  or neck.status == 'REJECTED'}"
		          th:text="${@statusDisplay.getLabel(neck.status)}">
		    </span>

		</td>
		<td>
		    <form th:action=
		          "@{/necks/{id}/process-history(id=${neck.id})}"
		          method="get">

		        <button type="submit"
		                class="history-button">
		            工程履歴
		        </button>

		    </form>
		</td>
    </tr>
</table>


<br>
</body>
</html>