<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>製品詳細</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div th:replace=
 "~{fragments/header :: header('製品詳細')}">
</div>

<table border="1">

<tr>
    <th>モデル番号</th>
    <td th:text="${product.modelNo}"></td>
</tr>

<tr>
    <th>製品名</th>
    <td th:text="${product.productName}"></td>
</tr>

<tr>
    <th>カラー</th>
    <td th:text="${product.color}"></td>
</tr>

<tr>
    <th>ボディ材</th>
    <td th:text="${product.bodyMaterial}"></td>
</tr>

<tr>
    <th>ネック材</th>
    <td th:text="${product.neckMaterial}"></td>
</tr>

<tr>
    <th>指板材</th>
    <td th:text="${product.fingerboardMaterial}"></td>
</tr>

<tr>
    <th>PU構成</th>
    <td th:text="${product.pickupLayout}"></td>
</tr>

<tr>
    <th>フレット数</th>
    <td th:text="${product.fretCount}"></td>
</tr>

<tr>
    <th>スケール</th>
    <td th:text="${product.scale}"></td>
</tr>

</table>

<h2>関連ギター</h2>

<div th:if="${#lists.isEmpty(guitars)}">
    <p>この製品で製造中のギターはありません。</p>
</div>

<table border="1"
       th:if="${!#lists.isEmpty(guitars)}">

    <tr>
        <th>ID</th>
        <th>シリアル番号</th>
        <th>現在工程</th>
        <th>詳細</th>
    </tr>

    <tr th:each="guitar : ${guitars}">
        <td th:text="${guitar.id}"></td>
        <td th:text="${guitar.serialNo}"></td>
        <td th:text="${guitar.currentProcess}"></td>

        <td>
            <a th:href="@{/guitars/{id}/view(id=${guitar.id})}">
                詳細
            </a>
        </td>
    </tr>

</table>


</body>
</html>